__pycache__/
*.pyc
logs/
build-logs/
libs/wizwalker.old/
Deimos-config.ini
Deimos-Testconfig.ini
venv
*.exe
testbot.txt
*.spec
!Deimos.spec
build/
dist/
*.env
.secret/*
.secret
.secrets
*.lock
!.gitignore
.*
